/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.answer-container {
  padding: 1rem;
}
.answer-header {
  display: grid;
}
.answer-under-header {
  list-style: none;
  display: flex;
  justify-content: left;
  border-bottom: 0.09rem solid lightgrey;
  padding-bottom: 0.5rem;
}
.answer-header h2 {
  padding-top: 1rem;
}
.answer-under-header li {
  padding-right: 1rem;
  font-size: 0.75rem;
}
.answer-code-container {
  background-color: #e6e4e4;
  width: 60%;
  height: 15rem;
  border-radius: 0.25rem;
  padding: 1rem;
}
.answer-tag-button-container {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.answer-tag-button-container button {
  background-color: lightblue;
  text-align: center;
  border-radius: 0.25rem;
  margin-right: 1rem;
  font-size: 0.75rem;
}
.answer-share-user-container ul {
  list-style: none;
  display: flex;
  padding: 0;
  width: 80%;
  align-items: flex-start;
}
.share {
  padding-right: 14rem;
}
.answer-user-info {
  background-color: #b3d3ea;
  justify-items: left;
  text-align: center;
  padding: 0.25rem;
  border-radius: 0.3rem;
}
.answer-know-someone {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.answer-text-area-container textarea {
  border-radius: 0.2rem;
  height: 18rem;
  width: 60%;
}
.post-your-answer {
  background-color: #0095ff;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.3rem;
}

p {
  font-size: 10px;
}

.QuestionBox {
  border-style: solid;
  padding: 0.5rem;
}

.Title {
  width: 20rem;
}

.Body {
  width: 20rem;
  height: 10rem;
}

.Tags {
  width: 20rem;
}

.Instructions {
  border-style: solid;
  margin: 1rem;
}

.one {
  border-bottom: solid;
}

.two {
  border-bottom: solid;
}

.Top {
  display: flex;
  padding: 1rem;
}

.Top,
button {
  padding-left: 1rem;
}

.QandI {
  display: grid;
  padding: 1rem;
}
.homePage {
  display: grid;
  grid-template-rows: 2rem 2rem 2rem 10rem 10rem 10rem 10rem;
  grid-template-columns: 15% 25% 35% 25%;
}

.leftSidebar {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.homeLink {
  color: black;
}
.allQuestions {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.allQuestionsHeader {
  font-size: 1.2rem;
}

.rightSection {
  grid-row-start: 2;
  grid-column-start: 4;
  grid-column-end: 5;
  padding-left: 1rem;
}

.questionButton {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: right;
  margin-top: 1rem;
}

.button {
  background-color: #0095ff;
  color: white;
  font-style: none;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  padding: 0.5em;
  font-size: 10px;
  border: 1px solid transparent;
  line-height: 1.15384615;
}

.askButton {
  color: white;
  font-style: none;
  font-size: 8px;
}

.QuestionBox {
  border-style: solid;
  padding: 0.5rem;
  width: 55%;
  background-color: whitesmoke;
}

.Title {
  width: 90%;
}

.Body {
  width: 90%;
  height: 10rem;
}

.Tags {
  width: 90%;
}

.Instructions {
  border-style: solid;
  margin: 1rem;
  width: 30%;
  background-color: whitesmoke;
}

.one {
  border-bottom: solid;
}

.two {
  border-bottom: solid;
}

.Top {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  padding-left: 1rem;
}

.Top h2 {
  padding-left: 2rem;
}

.QandI {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.AskPageButton {
  margin: 1rem;
}

.AskPageBody {
  margin: 0;
  min-height: 100%;
  background-color: grey;
}
.centerSection {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: 1rem;
}

.centerHeader {
  font-size: 8px;
  padding: 5px;
  border: 0.5px solid #dadada;
  background-color: #fafafb;
  margin: 0;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}

.questionBox {
  padding: 5px;
  border: 0.5px solid #dadada;
}

.votes {
  display: inline-block;
  height: 38px;
  min-width: 38px;
  margin: 0 3px 0 0;
  font-size: 11px;
  padding: 7px 6px;
  text-align: center;
  color: #948d95;
}

.answers {
  display: inline-block;
  margin: 0 3px 0 0;
  min-width: 44px;
  height: auto;
  font-size: 11px;
  padding: 6px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #948d95;
  text-align: center;
}

.views {
  display: inline-block;
  height: 38px;
  min-width: 40px;
  margin: 0 7px 0 0;
  font-size: 11px;
  color: #948d95;
  padding: 7px 6px;
  text-align: center;
}

span {
  font-size: 10px;
  padding: 1rem;
  margin: 0;
  color: #948d95;
}

.label {
  font-size: 6px;
  color: #948d95;
}

.mini-counts {
  margin-bottom: 4px;
}

.summary {
  display: inline-block;
  width: auto;
  margin: 0;
  overflow: hidden;
  font-size: 12px;
}

.post-tag {
  color: #2c5777;
  background-color: #d1e5f1;
  font-size: 8px;
  border-color: transparent;
  border-radius: 3px;
  padding: 0.25em;
  margin: 2px 2px 2px 0;
}

.startedBy {
  padding: 0;
  font-size: 8px;
  text-align-last: right;
  color: #948d95;
}
