/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
<<<<<<< HEAD
.answer-container {
  padding: 1rem;
}
.answer-header {
  display: grid;
}
.answer-under-header {
  list-style: none;
  display: flex;
  justify-content: left;
  border-bottom: 0.09rem solid lightgrey;
  padding-bottom: 0.5rem;
}
.answer-header h2 {
  padding-top: 1rem;
}
.answer-under-header li {
  padding-right: 1rem;
  font-size: 0.75rem;
}
.answer-code-container {
  background-color: #e6e4e4;
  width: 60%;
  height: 15rem;
  border-radius: 0.25rem;
  padding: 1rem;
}
.answer-tag-button-container {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.answer-tag-button-container button {
  background-color: lightblue;
  text-align: center;
  border-radius: 0.25rem;
  margin-right: 1rem;
  font-size: 0.75rem;
}
.answer-share-user-container ul {
  list-style: none;
  display: flex;
  padding: 0;
  width: 80%;
  align-items: flex-start;
}
.share {
  padding-right: 14rem;
}
.answer-user-info {
  background-color: #b3d3ea;
  justify-items: left;
  text-align: center;
  padding: 0.25rem;
  border-radius: 0.3rem;
}
.answer-know-someone {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.answer-text-area-container textarea {
  border-radius: 0.2rem;
  height: 18rem;
  width: 60%;
}
.post-your-answer {
  background-color: #0095ff;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.3rem;
=======

.homePage {
  display: grid;
  grid-template-rows: 10rem 10rem 10rem 10rem;
  grid-template-columns: 15% 25% 35% 25%;
  padding: 1rem;
}

.leftSidebar {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}

.allQuestions {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 4;
>>>>>>> df7e1b8b79a9ddf776e6d447eb5ca223830c68c3
}
