/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.QuestionBox {
  border-style: solid;
  padding: 0.5rem;
}

.Title {
  width: 20rem;
}

.Body {
  width: 20rem;
  height: 10rem;
}

.Tags {
  width: 20rem;
}

.Instructions {
  border-style: solid;
  margin: 1rem;
}

.one {
  border-bottom: solid;
}

.two {
  border-bottom: solid;
}

.Top {
  display: flex;
  padding: 1rem;
}

.Top,
button {
  padding-left: 1rem;
}

.QandI {
  display: grid;
  padding: 1rem;
}
.homePage {
  display: grid;
  grid-template-rows: 10rem 10rem 10rem 10rem;
  grid-template-columns: 15% 25% 35% 25%;
  padding: 1rem;
}

.leftSidebar {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}

.allQuestions {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 4;
}
