a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
p {
  margin-top: 0.4rem;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.homeHeader .navContainer {
  width: 100%;
  display: grid;
  grid-template-rows: 2.5rem;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.product {
  grid-column-start: 1;
  grid-column-end: 2;
}

.navbar-nav .search-container {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 5;
}
